<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 p-6 text-white">

        <!-- account Login krna  -->

        <h2 class="text-3xl mb-5 text-white">Login your Account</h2>

        <form action="/login" method="post">
            <input class="px-3 py-2 bg-transparent border-2 border-zinc-800 outline-none rounded-md" type="email" name="email" placeholder="email">
            <input class="px-3 py-2 bg-transparent border-2 border-zinc-800 outline-none rounded-md" type="password" name="password" placeholder="password">
            <input class="text-white tracking-tighter px-3 py-2 bg-blue-500 rounded-md" type="submit" value="Login Account">
        </form>


    </div>
</body>
</html>